.product_display {
    display: flex;
    gap: 120px; 
    margin: 20px auto; 
    align-items: flex-start;
    justify-content: center;
    max-width: 1400px; 
}

.product_display_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product_display_img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 0;
}

.product_display-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product_display_right h1 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.product_display_right h2 {
    font-size: 28px;
    color: #333;
    margin: 20px 0px 20px 0px;
}

.product_display_size {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0 0 0;
    background: transparent;
    padding: 0;
}
.product_display_right .label {
    font-weight: 700; 
    margin-bottom: 20px;
}
.size_box.selected {
    background-color: #ccc; 
    color: #666;           
    cursor: default;        
    border-color: #999;     
}


.product_display_size_button {
    display: flex;
    gap: 15px;
    align-items: center;
}

.size_box {
    padding: 18px 24px;
    border: 1px solid #ccc;
    border-radius: 0;
    background: transparent;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
}

.size_box:hover {
    background: #ddd;
}

.add_cart {
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 700; /* bold */
    color: white;
    background: red;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 30px; /* adds space above the button */
}

.add_cart:hover {
    background: darkred;
}

