.item {
  width: 300px;          
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.item p {
  margin: 6px 0;
  text-align: center;
  font-size: 16px;
  color: black;
}

.item_price {
  display: flex;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.item:hover {
  transform: scale(1.05);
}
