.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    background-color: black;
    position: relative;
}

.hero_left {
    color: white;
    float: center;
    margin-right:100px;
}

.hero_left p {
    font-size: 80px;
    font-weight: 700;
    margin: 0;
}

.hero_right {
    float:center;
    margin-left:100px;

}

.hero_right img {
    height: 90%;       
    width: auto;       
    max-width: 75%;     
    object-fit: cover;  
}
